:root {
    --c1: #1b262c;
    --c2: #0f4c75;
    --c3: #3282b8;
    --c4: #ff971d;
    --c5: #bbe1fa;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Girassol', cursive;
}

body {
    background-color: var(--c1);
    color: var(--c4);
}

.top {
    margin-top: 10vh !important;
}

.w3-card {
    background-color: var(--c2);
}

hr {
    border-top: 1px solid var(--c4);
}

.btn {
    background-color: var(--c3);
    color: black;
}

.btn:hover {
    background-color: var(--c5);
}

.collection,
.collection-item {
    background-color: var(--c2) !important;
    color: var(--c5);
    border: 1px solid white !important;
}

.pagination li a,
.pagination {
    color: var(--c5) !important;
}

.pagination .active {
    background-color: var(--c1) !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--c2);
}

::-webkit-scrollbar-thumb {
    background: var(--c4);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--c4);
}

.share-social>* {
    color: var(--c4) !important;
    cursor: pointer;
}

.share-social>*:hover {
    color: var(--c5) !important;
}


/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: var(--c4);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}