:root {
    --c1: #1b262c;
    --c2: #0f4c75;
    --c3: #3282b8;
    --c4: #ff971d;
    --c5: #bbe1fa;
}

body {
    background-color: var(--c1);
    color: var(--c4);
}

.w3-card {
    background-color: var(--c2);
}

hr {
    border-top: 1px solid var(--c4);
}

.btn {
    background-color: var(--c3);
    color: black;
}

.btn:hover {
    background-color: var(--c5);
}

.collection,
.collection-item {
    background-color: var(--c2) !important;
    color: var(--c5);
}

.pagination li a,
.pagination {
    color: var(--c5) !important;
}

.pagination .active {
    background-color: var(--c1) !important;
}