<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
</head>

<body>
    <div class="container">
        <div class="w3-card w3-section w3-padding-large">
            <div class="w3-xxxlarge">Clip Board</div>
            <hr>
            <div class="row">
                <form class="col s12" method="POST" action="/ne">
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.title() }} {{ form.title.label() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.clip() }} {{ form.clip.label() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s3">
                            {{ form.duration() }} {{ form.duration.label() }}
                        </div>
                        <div class="input-field col s3">
                            {{ form.access() }} {{ form.access.label() }}
                        </div>
                        <div class="input-field col s3">
                            {{ form.protected() }} {{ form.protected.label() }}
                        </div>
                        <div class="input-field col s3">
                            {{ form.password() }} {{ form.password.label() }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>