{% extends "layout.html" %} {% block content %}
<div class="w3-card w3-section w3-padding-large top">
    <div class="w3-jumbo w3-center">Clip Board</div>
    <div class="w3-large">Clip board is a Web Application to provide the clip-board facility on the web so that the clips can accessed anytime, anywhere and from any device</div>
    <hr>
    <div class="row">
        <form class="col s12" method="POST" action="/">
            <div class="row">
                <div class="input-field col m4 s12">
                    <input id="key" type="text" class="validate" name="key">
                    <label for="key">Key</label>
                </div>
                <div class="input-field col m4 s12">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
                <div class="input-field col m2 s6 w3-center">
                    <input id="submit" type="submit" value="View" class="btn">
                </div>
                <div class="input-field col m2 s6" w3-center>
                    <a href="/clip" class="waves-effect btn">New</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="w3-card w3-section w3-padding-large">
    <h1 class="w3-center">Public Clips</h1>
    <div class="collection">
        {% for c in clips.items %}
        <a href="/clip?key={{ c.key }}">
            <div class="row collection-item">
                <div class="col s4">{{ c.title }}</div>
                <div class="col s4">{{ c.date_posted }}</div>
                <div class="col s4">{{ c.duration }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
    <ul class="pagination w3-section w3-center">
        {% for page in clips.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if page %} {% if clips.page == page %}
        <li class="active">
            <a href="/?page={{page}}" class>
                    {{page}}
                </a>
        </li>
        {% else %}
        <li class="waves-effect">
            <a href="/?page={{page}}">{{page}}</a> </li>
        {% endif %} {% else %} ... {% endif %} {% endfor %}
    </ul>
</div>
{% endblock %}